body{
    background-image: url("../Imagenes/Style-Def/Background.jpg");
    color: sienna;
}

nav{
    background-color: darkblue;    
    background-image: url("../Imagenes/Style-Def/Barra.jpg");
}

#navbarDropdownMenuLink{
    color: darkgoldenrod;   
    font-weight: bold;
    font-style: italic;
}

#ventanaTitulo{
     background-image: url("../Imagenes/Style-Def/Barra.jpg");
     color: darkgoldenrod;
}

#ventanaCuerpo{
     background-image: url("../Imagenes/Style-Def/Background.jpg");
     color: sienna;
}

button{
    background-color: transparent;
}

a{
    color: sienna;
}

#Tabs{
    color: sienna;   
    font-weight: bold;
    font-style: italic;
}

#BarraLinkC{
    color: darkgoldenrod;
    font-weight: bold;
}
